*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #222;
    color:white;
}

header{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    height: 40px;
}

.header-left,.header-right{
    display: flex;
    align-items: center;
}

.recording-icons{
    padding: 5px 15px;
    border-radius: 5px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.secure-icon{
    margin-right: 5px;
    padding: 5px 5px;
    color:#67d669;
    background: black;
    border-radius:5px;
}

.rec-circle-1{
    height: 15px;
    width: 15px;
    background:lightgrey;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.rec-circle-2{
    height: 5px;
    width: 5px;
    background: red;
    border-radius: 100%;
    
}

.rec-text{
    margin:auto 20px auto 10px;
}
.fa-stop{
    margin-left:20px;
}

/* HEADER RIGHT */
.view-icon{
    display: flex;
    flex-wrap: wrap;
    width: 18px;
    height: 18px;
    gap: 2px;
    margin-right:10px;
    justify-content: center;
    align-items: center;
}


.header-right{
    background: #000;
    border-radius: 5px;
    padding: 5px 10px;
}

.square{
    width: calc(100% / 3 - 2px);
    height: calc(100% / 3 - 2px);
    background: white;
}

/* MAIN */

.container{
    margin: 50px auto auto auto;
    max-width: 95%;
    height: calc(100vh - 170px);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    overflow-y: auto;
}

.cam{
    width: calc(100% / 6 - 5px);
    background: url("https://blumagnolia.ch/wp-content/uploads/2021/05/placeholder-126.png");
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    height: 150px;
}

footer{
    display: flex;
    justify-content: space-around;
    background: rgb(93, 93, 93);
    height: 60px;
}

.footer-left, .footer-center,.footer-right{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    text-align: center;

}

footer i{
    font-size: 20px;
}

.footer-center{
    justify-content: center;
}

.footer-left > div{
    margin:10px;
}

.footer-center > div{
    margin:20px;
}

.share-screen div{
    color:rgb(33, 224, 62);
}

.footer-right{
    justify-content: flex-end;
    margin-right: 10px;
}

.end{
    color:white;
    padding: 7px 15px;
    border:none;
    border-radius:10px;
    background: red;
}



